@font-face {
    font-family: 'Evolventa';
    src: url(/assets/fonts/Evolventa/Evolventa-Normal.ttf);
}

// Fonts
$font-main: 'Evolventa';
$font-accent: '';
$font-secondary: '';

//  Colors
$dark: #111;
$orang: #ffb92f;
$gray: #d5d5d5;
$white: #f5f5f5;

// Font-size
$big-title: clamp(44px, 2vw, 64px);
$title-main: clamp(24px, 2vw, 56px);
$title: clamp(18px, 2vw, 24px);
$text: clamp(14px, 2vw, 18px);

// line-height

$line: 180%;