node_modules

# <!-- нужно доделать:
# 1. мобильная верстка +
#     1.1 разработать гамбургер меню (hamburger--opened) +
# 2. портфолио:
#     2.1 картинки +
#     2.1.1 Увеличение картинок
#     2.2. Попап каждого проекта
#     2.3  Скелетон кнопок
# 3. Соц сети телеграмм и вотсап +
# 4. Написать о себе +
# 5. Сделать лоудер скилов при попадании в зону видимости

# $ git push origin main
#  -->