// Base style
@import './base/reset';
@import './base/vars';
@import './base/base';
@import './base/fixed';

.content__one {
	display: flex;
	gap: 50px;
}

.text__containet {
	width: clamp(1000px, 2vw, 1500px);
}

.foto {
	height: 100%;
	width: 20vw;
	height: 100%;
	transform: rotate(3deg);
}

.cursor {
	animation: opacity 0.4s infinite alternate;
	font-size: $title;
	@keyframes opacity {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
}

button {
	margin-top: 8%;
}

// Адаптив

@media (max-width: 1440px) {
	.content__one {
		width: 74vw;
	}
	.animateButton {
		p {
			margin-top: 2%;
		}
	}
}

@media (max-width: 1160px) {
	.foto {
		display: none;
	}
}
