// Base style
@import './base/reset';
@import './base/vars';
@import './base/base';
@import './base/fixed';

body {
	height: 100vh;
	overflow: hidden;

	p {
		font-size: clamp(14px, 2vw, 18px);
	}
}
#textarea {
    width: 550px;
    height: 150px;
    font-size: clamp(18px, 2vw, 24px);
    color: $black;
}

.model_3D {
	width: 100%;
	height: 100%;
}

.loader-3D {
	text-align: center;
}

.container1 {
    // position: relative;
	display: flex;
	flex-direction: column;
	width: 85%;
	margin: 5% 5% 0 10%;
	gap: 6%;
}

/* содержимое */
.welcome {
	font-size: clamp(18px, 2vw, 24px);
	color: #ffb92f;
}

h1 {
	display: inline-block;
	font-size: clamp(54px, 5vw, 84px);
	font-weight: 400;
	line-height: 100%;
}

.skills {
	display: flex;
	flex-wrap: wrap;

	span {
		border-radius: 360px;
		background: #ffb92f;
		padding: 2% 5%;
		align-self: center;
		margin-right: 2%;
		margin-bottom: 2%;
		color: #f5f5f5;
		font-weight: 400;
	}
}

.container2 {
	// display: flex;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #ffb92f;

	img {
		display: none;
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}

// Соцсети:

.social {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 35%;
	right: 1%;
	padding: 0.5%;
	border-radius: 360px;
	border: 3px solid #f5f5f5;

	a {
		margin-bottom: 20%;
		margin-top: 20%;
	}
}

@media (max-width: 1370px) {
	.container1 {
		padding: auto;
		margin: 4% 4% 0 10%;
		gap: 4%;
	}
}

@media (max-width: 1160px) {
	body {
		display: inline;
		overflow: auto;
	}

	.model_3D {
		display: none;
	}

	.loader-3D {
		display: none;
	}

	.container2 {
		height: 50%;
		img {
			display: block;
		}
	}

	h1 {
		margin-bottom: 2%;
	}

	.container1 {
		padding: auto;
		gap: 10px;
	}

	.social {
		display: none;
	}
}
