// Base style
@import './base/reset';
@import './base/vars';
@import './base/base';
@import './base/fixed';

.content__one {
	margin: 20px 0 20px 0;
	font-size: $title;
	line-height: $line;
	p {
		margin-top: 60px;
		margin-bottom: 10px;
	}

	a {
		display: inline-block;
	}
}

.strelka {
	width: clamp(18vw, 2vw, 15vw);
	transform: rotate(10deg);
	position: absolute;
	margin-top: 10%;
	margin-left: clamp(45vw, 2vw, 50vw);
}

@media (max-width: 1390px) {
	.content__one {
		width: 800px;
		line-height: 150%;
		p {
			margin-top: 40px;
			margin-bottom: 10px;
		}
	}
}

@media (max-width: 1160px) {
	.content__one {
		width: 100%;
	}
	.strelka {
		display: none;
	}
}
