// Base style
@import './base/reset';
@import './base/vars';
@import './base/base';
@import './base/fixed';

body {
	height: 100vh;

	p {
		font-size: clamp(14px, 2vw, 18px);
	}
}

.container1 {
	display: flex;
	flex-direction: column;
	width: 85%;
	margin: 5% 5% 0 10%;
	gap: 6%;
}

.animateButton {
	transition: background-color 0.5s ease;
	outline: none;
	border: none;
}

/* содержимое */
.welcome {
	font-size: clamp(18px, 2vw, 24px);
	color: #ffb92f;
}

h1 {
	display: inline-block;
	font-size: clamp(54px, 5vw, 84px);
	font-weight: 400;
	line-height: 100%;
}

.skills {
	display: flex;
	flex-wrap: wrap;

	span {
		border-radius: 360px;
		background: #ffb92f;
		padding: 2% 5%;
		align-self: center;
		margin-right: 2%;
		margin-bottom: 2%;
		color: #f5f5f5;
		font-weight: 400;
	}
}

.container2 {
	display: flex;
	width: 100%;
	background-color: #ffb92f;

	img {
		margin: 0;
		width: 100%;
		object-fit: cover;
	}
}

// Соцсети:

.social {
	// background: #000;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 35%;
	right: 1%;
	padding: 0.5%;
	border-radius: 360px;
	border: 3px solid #f5f5f5;

	a {
		margin-bottom: 20%;
		margin-top: 20%;
	}
}

@media (max-width: 1160px) {
	body {
		display: inline;
	}

	h1 {
		margin-bottom: 2%;
	}

	.container1 {
		padding: auto;
		gap: 10px;
	}

	.social {
		display: none;
	}
}
