// Base style
@import './base/reset';
@import './base/vars';
@import './base/base';
@import './base/fixed';

.container {
	display: inline-flex;
	flex-direction: column;
	gap: 30px;

	&__wrap {
		width: 100%;
		border-bottom: 1px solid #555;
	}
}

.frame-1 {
	display: block;
	border-radius: 10px;
	width: 22vw;
	height: 25vh;
	margin-bottom: 20px;
}

.frame-2 {
	display: block;
	border-radius: 10px;
	width: 22vw;
	height: 65vh;
	margin-bottom: 20px;
}

.mr-2 {
	margin-right: 10px;
}

.d-flex {
	display: flex;
}

.skeleton {
	opacity: 0.8;
	animation: skeleton-loading 1s linear infinite alternate;

	@keyframes skeleton-loading {
		0% {
			background-color: hsl(200, 20%, 75%);
		}

		100% {
			background-color: hsl(200, 20%, 90%);
		}
	}
}

//  Галерея

.toolbar {
	display: flex;
}

#portfolio {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 1.5rem;
	-moz-column-gap: 1.5rem;
	column-gap: 1.5rem;
	-webkit-column-width: 33.33333333333333%;
	-moz-column-width: 33.33333333333333%;
	column-width: 33.33333333333333%;
}

.tile {
	width: 22vw;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 350ms ease;
	transition: all 350ms ease;

	img {
		width: 100%;
		height: 100%;
		margin: 0 !important;
		box-shadow: 0 10px 10px 0 rgba(51, 51, 51, 0.25);
	}
}

.scale-anm {
	transform: scale(1);
}

.tile img {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.btn {
	width: auto;
	height: auto;
	padding: 0.5rem 2rem;
	font-family: $font-main;
	font-size: $text;
	cursor: pointer;
	line-height: normal;
	margin: 0;
	margin-right: 10px;
	border: 0px solid;
	color: $dark;
	background-color: rgba(0, 0, 0, 0);

	&:hover {
		color: $white;
		background-color: $orang;
		border: 1px solid;
		border: $orang;
	}
}

.btn:hover {
	text-decoration: none;
}

.btn:focus {
	outline: none;
	border-color: var(--darken-2);
	box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
	border: 0;
	padding: 0;
}

@media (max-width: 1160px) {
	#portfolio {
		width: 100%;
		column-count: 1;
	}
	.tile {
		width: auto;
	}

	.toolbar {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}

	.btn {
		margin-right: 0;
	}

	.frame-1,
	.frame-2 {
		width: 100%;
	}
}

/* Стили для модального окна */
.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	overflow-y: auto;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 5px;
}

.modal img {
	max-width: 100%;
	height: auto;
}
/* Стили для модального окна */
