// Base style
@import './base/reset';
@import './base/vars';
@import './base/base';
@import './base/fixed';

h2 {
	font-size: clamp(24px, 4vw, 64px);
	margin: 0 0 40px 0;
}

.container {
	margin: 20vh 280px;
}

.content__one {
	margin: 20px 0 20px 0;
	font-size: clamp(18px, 2vw, 24px);
	line-height: 200%;
	p {
		margin-top: 60px;
		margin-bottom: 10px;
	}

	a {
		display: inline-block;
	}
}

.strelka {
	width: clamp(18vw, 2vw, 15vw);
	transform: rotate(10deg);
	position: absolute;
	margin-top: 4%;
	margin-left: clamp(45vw, 2vw, 50vw);
}


@media (max-width: 1440px) {
	.container {
		margin: 20px 250px;
	}
	.content__one {
		width: 800px;
		line-height: 150%;
		p {
			margin-top: 40px;
			margin-bottom: 10px;
		}
	}
}
