* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

@font-face {
  font-family: "Evolventa";
  src: url(/assets/fonts/Evolventa/Evolventa-Normal.ttf);
}
body {
  display: flex;
  font-family: "Evolventa";
  font-weight: 400;
  color: #111;
  background-color: #f5f5f5;
  font-size: 18px;
}

.container {
  margin: 60px 10% 0 280px;
}

h2 {
  font-size: clamp(24px, 4vw, 64px);
  margin: 0 0 4% 0;
}

a {
  color: #ffb92f;
}
a:hover {
  font-weight: 700;
}

p {
  font-size: clamp(14px, 2vw, 18px);
  line-height: 180%;
}

button {
  width: 300px;
  height: 60px;
  margin-top: 2%;
  border-radius: 360px;
  background: #ffb92f;
  margin-bottom: 10%;
  border: 2px solid #ffb92f;
}
button a {
  font-family: "Evolventa";
  font-weight: 700;
  color: #f5f5f5;
  font-size: 18px;
}
button :hover {
  background: #ec9e00;
}

@media (max-width: 1440px) {
  .container {
    margin: 6% 250px;
  }
}
@media (max-width: 1160px) {
  button {
    width: 200px;
    height: 60px;
  }
  .container {
    margin: 10% 2% 0 20%;
  }
}
.burger__menu {
  display: none;
  position: fixed;
  width: 35px;
  height: 38px;
  left: 20px;
  top: 8%;
  z-index: 3;
}

.burger__menu-btn {
  margin: auto;
  border: none;
}

.burger__menu-btn span {
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: #ffb92f;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.burger__menu-btn span:nth-child(1) {
  transform: translateY(-10px);
}

.container__menu.open .burger__menu-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
  background-color: #f5f5f5;
}

.container__menu.open .burger__menu-btn span:nth-child(2) {
  display: none;
}

.burger__menu-btn span:nth-child(3) {
  transform: translateY(10px);
}

.container__menu.open .burger__menu-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
  background-color: #f5f5f5;
}

.menu {
  max-width: 220px;
  height: 100vh;
  position: fixed;
  background: #ffb92f;
  display: flex;
  flex-direction: column;
  gap: 8%;
  z-index: 2;
}
.menu a {
  color: #111;
  font-size: clamp(14px, 2vw, 24px);
  margin-left: 10%;
}
.menu p {
  color: #555555;
  font-size: clamp(10px, 2vw, 16px);
  margin-left: 10%;
}
.menu .active {
  color: #f5f5f5;
  font-weight: 600;
}

.main {
  display: none;
}

.face {
  margin-left: -10%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: #555555;
}

.social {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 35%;
  right: 1%;
  padding: 0.5%;
  border-radius: 360px;
  border: 3px solid #ffb92f;
}
.social a {
  margin-bottom: 20%;
  margin-top: 20%;
}

@media (max-width: 1440px) {
  .menu {
    gap: 7%;
    max-width: 200px;
    height: 100vh;
  }
  .face {
    margin-left: -10%;
    width: 100%;
  }
}
@media (max-width: 1160px) {
  .burger__menu {
    display: block;
  }
  .main {
    display: inline;
  }
  .menu {
    width: 350px;
    padding: 12% 0 0 0;
    left: -350px;
    transition: transform 0.5s;
  }
  .menu a {
    font-size: 24px;
    margin-left: 20px;
  }
  .face {
    display: none;
  }
  .container__menu.open .menu {
    transform: translateX(350px);
  }
  .social {
    top: 35%;
    left: 0;
    border: none;
    z-index: -2;
  }
  .social a {
    width: 20px;
    height: 20px;
    margin: 10px 0 40px 10px;
  }
}
.load-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
}
.load-circle__loader, .load-circle__loader-bgr {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
}
.load-circle__loader__circle, .load-circle__loader-bgr__circle {
  stroke: #ffb92f;
  stroke-width: 10;
  fill: transparent;
}
.load-circle__loader-bgr__circle {
  stroke: #d5d5d5;
}
.load-circle__text {
  display: flex;
  font-size: clamp(44px, 2vw, 64px);
  font-weight: 900;
}
.load-circle--90-percent .load-circle__loader__circle {
  animation: prixClipFix90 3s forwards linear;
}
@keyframes prixClipFix90 {
  0% {
    stroke-dasharray: 0, 9999;
  }
  100% {
    stroke-dasharray: 282.852, 9999;
  }
}
.load-circle--80-percent .load-circle__loader__circle {
  animation: prixClipFix80 3s forwards linear;
}
@keyframes prixClipFix80 {
  0% {
    stroke-dasharray: 0, 9999;
  }
  100% {
    stroke-dasharray: 251.424, 9999;
  }
}
.load-circle--70-percent .load-circle__loader__circle {
  animation: prixClipFix70 3s forwards linear;
}
@keyframes prixClipFix70 {
  0% {
    stroke-dasharray: 0, 9999;
  }
  100% {
    stroke-dasharray: 219.996, 9999;
  }
}
.load-circle--60-percent .load-circle__loader__circle {
  animation: prixClipFix60 3s forwards linear;
}
@keyframes prixClipFix60 {
  0% {
    stroke-dasharray: 0, 9999;
  }
  100% {
    stroke-dasharray: 188.568, 9999;
  }
}
.load-circle--50-percent .load-circle__loader__circle {
  animation: prixClipFix50 3s forwards linear;
}
@keyframes prixClipFix50 {
  0% {
    stroke-dasharray: 0, 9999;
  }
  100% {
    stroke-dasharray: 157.14, 9999;
  }
}
.load-circle--40-percent .load-circle__loader__circle {
  animation: prixClipFix40 3s forwards linear;
}
@keyframes prixClipFix40 {
  0% {
    stroke-dasharray: 0, 9999;
  }
  100% {
    stroke-dasharray: 125.712, 9999;
  }
}
.load-circle--30-percent .load-circle__loader__circle {
  animation: prixClipFix30 3s forwards linear;
}
@keyframes prixClipFix30 {
  0% {
    stroke-dasharray: 0, 9999;
  }
  100% {
    stroke-dasharray: 94.284, 9999;
  }
}
.load-circle--20-percent .load-circle__loader__circle {
  animation: prixClipFix20 3s forwards linear;
}
@keyframes prixClipFix20 {
  0% {
    stroke-dasharray: 0, 9999;
  }
  100% {
    stroke-dasharray: 62.856, 9999;
  }
}
.load-circle--10-percent .load-circle__loader__circle {
  animation: prixClipFix10 3s forwards linear;
}
@keyframes prixClipFix10 {
  0% {
    stroke-dasharray: 0, 9999;
  }
  100% {
    stroke-dasharray: 31.428, 9999;
  }
}

.container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.container__wrap {
  width: 100%;
  border-bottom: 1px solid #555;
}

.tabs {
  display: flex;
  padding: 0px 50px;
  align-items: center;
  gap: 300px;
}
.tabs a {
  color: #111;
  font-size: clamp(14px, 2vw, 18px);
}
.tabs .now {
  color: #ffb92f;
  font-weight: 700;
}

.tab {
  display: flex;
  padding: 10px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px 15px 0px 0px;
  background: #f5f5f5;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.content {
  display: flex;
  gap: 20px;
}

.text {
  width: 780px;
}

h3 {
  font-size: clamp(18px, 2vw, 24px);
  display: inline;
}

.content__one {
  margin: 20px 0 20px 0;
  font-size: clamp(14px, 2vw, 18px);
  line-height: 180%;
}
.content__one li {
  margin-left: 50px;
}

.content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

h4 {
  font-size: clamp(14px, 2vw, 18px);
  margin-bottom: 20px;
}

.chart {
  display: flex;
  width: 307px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.skill {
  width: 110px;
  height: 110px;
  text-align: center;
  margin-bottom: 40px;
}
.skill img {
  margin: 10px -10px;
}

@media (max-width: 1440px) {
  .text {
    width: 500px;
  }
  .content__one li {
    margin-left: 15px;
  }
}
@media (max-width: 1160px) {
  .content {
    flex-direction: column;
  }
  .tabs {
    padding: 0;
    gap: 0;
    justify-content: space-around;
  }
  .tab {
    padding: 10px 30px;
  }
  .text {
    width: 90%;
  }
  .content__one ul {
    width: 100%;
  }
  .content__one li {
    width: 100%;
  }
  .content2 {
    width: 80vw;
  }
  .chart {
    gap: 30px;
    z-index: -2;
  }
}